html {
  font-family: Calibri; 
}

.heading {
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.header {
  width: 80%;
  padding-left: 20%;
  background-color: rgb(243, 243, 243);
  margin-bottom: 20px;
}

.headerRef {
  display: inline-block;
  padding: 15px;
  margin: 10px 5px 10px 5px;
}

.headerRef:nth-child(3n+1){
  background-color: white;
}
.headerRef:nth-child(3n+2){
  background-color: white;
}
.headerRef:nth-child(3n){
  background-color: white;
}

body {
  background-color: white;
}

.content {
  margin: 0% 25% 1em 25%;
  padding: 0.001em 1em 0.001em 1em;

  font-size:  20px;

  background-color: rgba(255, 255, 255, .75);
}

.content h1{
font-size: 50px;
text-align: center;
}

#organiserContainer {
  margin: 0% -1em 1em -1em;
  overflow: auto;
}


.organiser {
  width: 40%;
  float: left;
  margin: 0% 5% 0% 5%;

  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.organiser img{
  width: 100%;
  height: auto;
}

.imageRow {
  display: flex;
}

.imageRow img{
  margin: 0% 1% 0% 1%;
  flex: 1;
  object-fit: cover;
}


.shirtContainer {
  margin: 0;
  display: flex;
  width: auto;
  height: auto;
}

.shirt {
  flex: 1;
  padding: 2%;
}

.shirt img{
  width: 100%;
  height: auto;
}

.content img{
  width:100%;
}

@media only screen and (max-width: 1000px) {
  .heading {
    font-size: 3.3vw;
  }

  .content {
    margin: 0% 0% 1em 0%;
  }

  .header {
    padding-left: 0;
    width: 100%;
  }
}

@font-face {
  font-family: "Calibri";
  src: url("/css/fonts/Calibri.woff") format("woff");
}