<!DOCTYPE html>
<html>
  <head>
    {% if page.title %}
      <title> Perpetuum Mobile: {{ page.title }} </title>
    {% else %}
      <title> Perpetuum Mobile </title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" href="images/PerpetuumMobileLogo.png" type="image/png"/>
    <link rel="shortcut icon" href="images/PerpetuumMobileLogo.png" type="image/png"/>
  </head>
  <body>
    {% include header.html %}

    {{ content }}
    
  </body>
</html>
